/*Globale variabler*/ 
$primary-border: 2px solid #ff69b4;
$bg-light: #f5f5f5;
$space-lg: 20px;
$btn-font: "Poppins";
$pc-dialog-font: "VT323";

/*Mixins*/
@mixin window-style {
  background: $bg-light;
  border: $primary-border;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
